<div class="container-lg">

    <div class="row d-md-none">
        <controls class="d-flex justify-content-center mb-4"/>
    </div>

    <div class="row align-items-center">
        @if (entries.length) {
            <div class="col-md-10 d-flex justify-content-center border fixed-list">
                <div class="ajax-translate px-4">
                    @for (entry of entries; track entry.id) {
                        <item [entry]="entry" [index]="$index"></item>
                    }
                </div>
            </div>
        } @else {
            <div class="col-md-10"></div>
        }
        <controls class="col-md-2 d-none d-md-block btn_controls"/>
    </div>
</div>

@if (entries.length) {
    <popup-read/>
}
