/backend/.env
/backend/.env.production
/backend/.phpunit.cache
/backend/node_modules
/backend/public/angular
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/backend/resources/frontend
/frontend/node_modules
/frontend/.angular
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.zed
/.osp
/.vite
/.AdminLTE
/.hostinger
*.gz
_ide_helper.php
.phpstorm.meta.php
package-lock.json
