<div class="modal-body">
    @if (isInSavingMode | async) {
        <popup-translations/>
        <popup-form/>
    } @else {
        <div class="modal-center">
            @if (!isInEditingMode) {
                <div class="wrapper">
                    <p class="translate-on-select py-2 fs-1 border-bottom">
                        {{ entry.text }}
                    </p>
                    <popup-translations/>
                </div>
            } @else {
                <div class="w-100">
                    <edit/>
                </div>
            }
        </div>
    }
</div>
