<div class="row g-2 align-items-center mb-3">
  <div class="col-4">
    <div class="row align-items-center">
      <div class="col-1 d-flex justify-content-center">
        <input
          class="form-check-input"
          type="radio"
          name="active"
          [checked]="isCurrent"
          (change)="setCurrentEntryIndex()"
        />
      </div>

      <div class="col-11">
        <input
          type="text"
          name="translate_from[]"
          class="form-control entry-translate-from d-inline-block"
          [(ngModel)]="entry.text"
          (focus)="setCurrentEntryIndex()"
        />
      </div>
    </div>
  </div>

  <div class="col-8 d-flex gap-2">
    <input
      type="text"
      name="translate_to[]"
      class="form-control entry-translate-to"
      [(ngModel)]="translations"
      [ngModelOptions]="{ updateOn: 'blur' }"
      (focus)="setCurrentEntryIndex()"
    />
    <form-row-button-erase (click)="onErase()" />
    <form-row-button-remove (click)="onRemove()" />
  </div>
</div>
