<form
        (ngSubmit)="submit($event)"
        *ngIf="isShow"
        action=""
        class="mt-2"
        method="post"
>
    @for (entry of entries; track entry.id) {
        <form-row [entry]="entry" [index]="$index" (remove)="remove($event)"/>
    }

    <input [value]="currentEntry.text" name="source" type="hidden"/>
    <input [value]="sectionId" name="section_id" type="hidden"/>

    <button-saving/>
    <button-save/>
</form>

@if (duplicates.length) {
    <duplicates [elements]="duplicates"/>
}
