<form
        (submit)="$event.preventDefault()"
        action=""
        class="mb-2"
        encType="multipart/form-data"
        method="post"
>
    @if (mode === 'Read') {
        <div class="row gx-3 mb-3 align-items-center">
            <sections class="col-4"/>
            <content-upload class="col-6"/>
            <respect-list-groups class="col-2"/>
        </div>

        <div class="row gx-3 mb-3">
            <languages class="col-12"/>
        </div>
    } @else {
        <div class="row mb-3">
            <div class="col-10">
                <sections/>
            </div>
        </div>
    }

</form>
