<table id="matched_entries">
    <thead>
    <tr>
        <th>Слово</th>
        <th>Перевод</th>
        <th>Примечание</th>
        <th>Путь</th>
    </tr>
    </thead>
    <tbody>
        @for (entry of entries; track entry.id) {
            <tr [class]="entry.isOdd ? 'odd' : 'even'">
                <td><strong>{{ entry.name }}</strong></td>
                <td>{{ entry.translation }}</td>
                <td>{{ entry.context }}</td>
                <td>{{ entry.path }}</td>
            </tr>
        }
    </tbody>
</table>
