<div class="row">
    <div class="col-10" data-shuffled>
        <div class="container position-relative">
            @for (entry of entries; track entry.id) {
                <div
                        class="row item border p-2 fs-5"
                        [class]="{'fw-bolder': $index === state.currentEntryIndex}"
                        [style]=entry.style
                        (click)="edit($event,entry.id)"
                >
                    <div class="col-6">{{ entry.text }}</div>
                    <div class="col-6">
                        @if ($index <= state.currentTranslateIndex || !state.isShowListInStrictMode) {
                            {{ entry.translations }}
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <controls (shuffled)="shuffle()" class="col-2 btn_controls"/>
</div>

@if (state.isShowMemoPopup) {
    <popup-memo/>
}
@if (state.isShowEditPopup) {
    <popup-edit/>
}
@if (state.isShowShowPopup) {
    <popup-show/>
}

