<div class="row">
    <div class="col-10" data-shuffled>
        <div class="container position-relative">
            @for (entry of entries; track entry.id) {
                <div
                        class="row item border p-2 fs-5"
                        [class]="{'fw-bolder': $index === state.currentEntryIndex}"
                        [style]=entry.style
                >
                    <div class="col-6">{{ entry.text }}</div>
                    <div class="col-6">
                        @if ($index < state.currentEntryIndex) {
                            {{ entry.translations }}
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <controls
            *ngIf="entries.length"
            class="btn_controls offset-10 col-2 d-flex flex-column gap-3 px-4"
            (shuffled)="shuffle()"
    />
</div>

@if (entries.length) {
    <popup-memo/>
}

